@font-face {
    font-weight: 400;
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-weight: 500;
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-weight: 600;
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-weight: 700;
    font-family: "Roboto";
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
}

@import "tailwindcss";

body {
    font-family: "Roboto", sans-serif;
}